:host {
    padding: 0;
    margin: 0;
    background: conic-gradient(from 180deg at 50% 50%, #000000 -57.38deg, #444344 38.59deg, #353535 130.4deg, #323031 226.04deg, #000000 302.62deg, #444344 398.59deg);
}